apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: todo-staging

resources:
- ../../base

patches:
- path: broadcaster-patch.yaml
- path: todo-backend-patch.yaml
- path: postgres-patch.yaml
- path: backend-nats-patch.yaml

images:
- name: BROADCASTER_IMAGE
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/todo-project/broadcaster
  newTag: staging-20717fb2b79976c9cdf10b4ef2f25adc0df86fec
- name: TODO_APP_IMAGE
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/todo-project/todo-app
  newTag: staging-20717fb2b79976c9cdf10b4ef2f25adc0df86fec
- name: TODO_BACKEND_IMAGE
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/todo-project/todo-backend
  newTag: staging-20717fb2b79976c9cdf10b4ef2f25adc0df86fec
- name: TODO_JOB_IMAGE
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/todo-project/todo-cronjob
  newTag: staging-20717fb2b79976c9cdf10b4ef2f25adc0df86fec
- name: broadcaster
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/todo-project/broadcaster
  newTag: staging-eec6dd4319d916444d72400044afb50d7adf8e4d
- name: todo-app
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/todo-project/todo-app
  newTag: staging-eec6dd4319d916444d72400044afb50d7adf8e4d
- name: todo-backend
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/todo-project/todo-backend
  newTag: staging-eec6dd4319d916444d72400044afb50d7adf8e4d
- name: todo-job
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/todo-project/todo-cronjob
  newTag: staging-eec6dd4319d916444d72400044afb50d7adf8e4d
