apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: todo-staging

resources:
- ../../base

patches:
- path: broadcaster-patch.yaml
- path: todo-backend-patch.yaml
- path: postgres-patch.yaml
- path: backend-nats-patch.yaml

images:
- name: BROADCASTER_IMAGE
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/todo-project/broadcaster
  newTag: staging-3ab7dee24dfb155cd9b78cf2518f926fa573e1fd
- name: TODO_APP_IMAGE
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/todo-project/todo-app
  newTag: staging-3ab7dee24dfb155cd9b78cf2518f926fa573e1fd
- name: TODO_BACKEND_IMAGE
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/todo-project/todo-backend
  newTag: staging-3ab7dee24dfb155cd9b78cf2518f926fa573e1fd
- name: TODO_JOB_IMAGE
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/todo-project/todo-cronjob
  newTag: staging-3ab7dee24dfb155cd9b78cf2518f926fa573e1fd
- name: broadcaster
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/dwk-project/broadcaster
  newTag: staging-8e30e8f902967048a4477165dfa2a824b947c236
- name: todo-app
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/dwk-project/todo-app
  newTag: staging-8e30e8f902967048a4477165dfa2a824b947c236
- name: todo-backend
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/dwk-project/todo-backend
  newTag: staging-8e30e8f902967048a4477165dfa2a824b947c236
- name: todo-job
  newName: europe-west3-docker.pkg.dev/dwk-gke-485813/dwk-project/todo-cronjob
  newTag: staging-8e30e8f902967048a4477165dfa2a824b947c236
